{% extends 'main.html' %}

{% block con %}
	<div class="forms_20px"> Sign in </div>
	<div>
		<form action="/congratulation/login/" method="post">
			{% csrf_token %}
			<div class="forms"><label for="username">Username:</label></div>
			<div class="forms"><input type="text" name="username" id="username"></div>
			<div class="forms"><label for="password">Password:</label></div>
			<div class="forms"><input type="password" name="password" id="password"></div>
			{% if login_error %}
				<div class="forms"><label class="error">{{ login_error }}</label></div>
			{% endif %}
			<div class="forms"><input class="button" type="submit" value="Log in"></input></div>
		</form>
	</div>
{% endblock %}